@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

/* main header */
.page-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
}

.bige {
    font-family: 'Josefin Sans', sans-serif;;
}

.main-header {
    background-color: #1a73e8;
    padding: 20px 20px;
    width: 100%;
}

::selection {
    color: #fff;
    background-color: #000;
}
 
/* back button design */
#back {
    color: #fff;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    transition: 0.1s ease-in;
    padding: 20px 20px;
}

#back:hover {
    background-color: rgba(255, 255, 255, 0.308);
    border: none;
    border-radius: 50%;
    padding: 20px 20px;
    transition: 0.1s ease-out;
}

#back:active {
    opacity: 20%;
}

/* blog design */

.blog {
    width: 70%;
    height: auto;
    display: block;
    margin-right: auto;
    margin-top: 40px;
    margin-left: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 40px 40px;
    border-radius: 10px;
}

.blog-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
}

.date {
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 10px;
}

.blog-para {
    margin-top: 40px;
}

.hato-pic {
    height: 450px;
    width: 800px;
    display: block;
    margin-left: auto;
    border: none;
    border-radius: 10px;
    margin-right: auto;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.1s ease-in;
}

.hato-pic:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 0.1s ease-out;
}

.hat-pic {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.1s ease-in;
}

.hat-pic:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 0.1s ease-out;
}

.hato-pic:active , .hat-pic:active {
    opacity: 20%;
}

.float-p {
    display: flex;
    margin-top: 20px;
}

.floatter {
    margin-left: 20px;
    margin-right: 20px;
}

.btn-reward {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #1a73e8;
    background: none;
    margin-top: 40px;
    border: 2px solid #1a73e8;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.1s ease-in;
}

a {
    text-decoration: none;
}

.btn-reward:hover {
    background-color: #1a73e8;
    color: #fff;
    border: 2px solid #1a73e8;
    transition: 0.1s ease-out;
}

.btn-reward:active {
    opacity: 20%;
    transition: 0.1s;
}

/*responsive code start*/
@media(max-width:998px) {
    .blog {
        width: 90%;
        height: auto;
        display: block;
        margin-right: auto;
        margin-top: 40px;
        margin-left: auto;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        padding: 10px 10px;
    }
    
    .hato-pic {
        width: 100%;
        height: auto;
    }

    .hat-pic {
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.1s ease-in;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    
    .hat-pic:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        transition: 0.1s ease-out;
    }
    
    .hato-pic:active , .hat-pic:active {
        opacity: 20%;
    }
    
    .float-p {
        display: block;
        margin-top: 20px;
    }
    
    .floatter {
        margin-left: 20px;
        margin-right: 20px;
        line-height: 20px;
    }

    /* main header */
.page-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
}

.bige {
    font-family: 'Josefin Sans', sans-serif;;
}

.main-header {
    background-color: #1a73e8;
    padding: 10px 10px;
    width: 100%;
}

/* back button design */
#back {
    color: #fff;
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
    transition: 0.1s ease-in;
    padding: 10px 10px;
}

#back:hover {
    background-color: rgba(255, 255, 255, 0.308);
    border: none;
    border-radius: 50%;
    padding: 10px 10px;
    transition: 0.1s ease-out;
}

#back:active {
    opacity: 20%;
}

}
@media(max-width:768px) {
    /* main header */
.page-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 30px;
    color: #fff;
}

.bige {
    font-family: 'Josefin Sans', sans-serif;;
}

.main-header {
    background-color: #1a73e8;
    padding: 10px 10px;
    width: 100%;
}

/* back button design */
#back {
    color: #fff;
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
    transition: 0.1s ease-in;
    padding: 10px 10px;
}

#back:hover {
    background-color: rgba(255, 255, 255, 0.308);
    border: none;
    border-radius: 50%;
    padding: 10px 10px;
    transition: 0.1s ease-out;
}

#back:active {
    opacity: 20%;
}
}